<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tapstream.phonegap"
    version="2.5.0">

    <engines>
        <engine name="cordova" version=">=2.3.0" />
    </engines>
    
    <name>Tapstream</name>
    <description>Official Tapstream marketing analytics SDK (http://tapstream.com)</description>
    <license>MIT</license>
    
    <js-module src="www/tapstream.js" name="Tapstream">
        <clobbers target="window.tapstream" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <access origin="https://api.tapstream.com" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Tapstream">
                <param name="android-package" value="com.tapstream.phonegap.TapstreamPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/TapstreamPlugin.java" target-dir="src/com/tapstream/phonegap" />
        <source-file src="src/android/Tapstream.jar" target-dir="libs"/>
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <access origin="https://api.tapstream.com" />
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="Tapstream">
                <param name="ios-package" value="TapstreamPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/ios/TapstreamPlugin.m" />
        <header-file src="src/ios/TapstreamPlugin.h" />

{{ ios_sources }}

    </platform>
</plugin>
