<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tapstream.phonegap"
    version="1.0.0">

    <name>Tapstream</name>
    <description>Official Tapstream marketing analytics SDK (http://tapstream.com)</description>
    <license>MIT</license>
    
    <js-module src="www/tapstream.js" name="Tapstream">
        <clobbers target="window.tapstream" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <access origin="https://api.tapstream.com" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Tapstream">
                <param name="android-package" value="com.tapstream.phonegap.TapstreamPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/TapstreamPlugin.java" target-dir="src/com/tapstream/phonegap" />
        <source-file src="src/android/Core/com/tapstream/sdk/ActivityEventSource.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Api.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Config.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/ConversionListener.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Core.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/CoreListener.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Delegate.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Event.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Hit.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Logger.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Logging.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Platform.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Response.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Core/com/tapstream/sdk/Utils.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/AdvertisingIdFetcher.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/api14/ActivityCallbacks.java" target-dir="src/com/tapstream/sdk/api14"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/CoreListenerImpl.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/PlatformImpl.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/ReferrerReceiver.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/Tapstream.java" target-dir="src/com/tapstream/sdk"/>
        <source-file src="src/android/Tapstream/com/tapstream/sdk/WorkerThread.java" target-dir="src/com/tapstream/sdk"/>
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <access origin="https://api.tapstream.com" />
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="Tapstream">
                <param name="ios-package" value="TapstreamPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/ios/TapstreamPlugin.m" />
        <header-file src="src/ios/TapstreamPlugin.h" />

        <source-file src="src/ios/Tapstream/TSConfig.m" />
        <source-file src="src/ios/Tapstream/TSCore.m" />
        <source-file src="src/ios/Tapstream/TSCoreListenerImpl.m" />
        <source-file src="src/ios/Tapstream/TSEvent.m" />
        <source-file src="src/ios/Tapstream/TSHit.m" />
        <source-file src="src/ios/Tapstream/TSLogging.m" />
        <source-file src="src/ios/Tapstream/TSPlatformImpl.m" />
        <source-file src="src/ios/Tapstream/TSResponse.m" />
        <source-file src="src/ios/Tapstream/TSTapstream.m" />
        <header-file src="src/ios/Tapstream/TSApi.h" />
        <header-file src="src/ios/Tapstream/TSConfig.h" />
        <header-file src="src/ios/Tapstream/TSCore.h" />
        <header-file src="src/ios/Tapstream/TSCoreListener.h" />
        <header-file src="src/ios/Tapstream/TSCoreListenerImpl.h" />
        <header-file src="src/ios/Tapstream/TSDelegate.h" />
        <header-file src="src/ios/Tapstream/TSEvent.h" />
        <header-file src="src/ios/Tapstream/TSHelpers.h" />
        <header-file src="src/ios/Tapstream/TSHit.h" />
        <header-file src="src/ios/Tapstream/TSLogging.h" />
        <header-file src="src/ios/Tapstream/TSLogLevel.h" />
        <header-file src="src/ios/Tapstream/TSPlatform.h" />
        <header-file src="src/ios/Tapstream/TSPlatformImpl.h" />
        <header-file src="src/ios/Tapstream/TSResponse.h" />
        <header-file src="src/ios/Tapstream/TSTapstream.h" />

    </platform>
</plugin>
